.head {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 8dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--head);
    justify-content: space-between;
    box-shadow: 0 0 .3em .3em var(--shadow);

    img{
        padding: 0 0 0 2em;
    }

    img:hover {
        cursor: pointer;
    }

    .nav-list {
        cursor: pointer;
        width: 14%;
        height: auto;
        display: flex;
        align-content: center;
        justify-content: center;
        justify-content: space-between;

        ul{
            padding: 0;
        }
    }

    .socials-list{
        cursor: pointer;
        padding: 0 2em 0 0;
        width: 8%;
        display: flex;
        text-decoration: none;
        justify-content: space-between;

        ul{
            padding: 0;
        }

        button {
            border: 0.1em solid var(--head);
            cursor: pointer;
            font-size: 1.2rem;
            color: var(--font);
            background-color: var(--head);
        }
    }
}

@media screen and (max-width: 1024px) {
    .head {
        padding: 0 8%;
    }
}

@media screen and (max-width: 600px) {
    .head {
        padding: 0 5%;

        button {
            font-size: .8rem;
            padding: .5em 1.5em;
            border-radius: 1.3em;
        }
    }
}